.carousel-item img{
    height: 800px;
}
.two{
    background-image: url(https://i.pinimg.com/236x/e7/8e/b1/e78eb1d60e8e053d7c5afe5a7d557eb6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.three{
    background-image: url(https://img.freepik.com/free-photo/abstract-extruded-voronoi-blocks-background-minimal-light-clean-corporate-wall-3d-geometric-surface-illustration-polygonal-elements-displacement_1217-2503.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}
.upp{
    transform: translateY(-40%);
    z-index: 2;
    background-color: white;
     margin: 20px;
}
.car img{
    z-index: 1;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all
}
.text-center{
    border: none;
}
.car img{
    transition: transform 0.5s ease-in-out;
}
.car img:hover{
    transform: scale(1.1);
}
/* .five{
    clear: both;
    display: flex;
    justify-content: space-between;
}
.five img{
    width: 605px;
    border-radius: 10px;
}
.five{
    position: relative;
z-index: 1;
}
.sev{
    background-color: white;
    position: absolute;
    transform: translateY(-40%);
    margin: 20px;
    z-index: 2;
    text-align: center;
    padding: 15px;

}
.six img:hover{
    transform: scale(1.1);
} */
.foot{
    line-height: 35px;
    font-size: 20px;
    font-weight: 500;

}
li{
    list-style: none;
}
.bgaa{
    /* background-image: linear-gradient(to bottom, rgba(254, 157, 1, 0.89), rgba(254, 157, 1, 0.1)); */
    background-image: url(https://previews.123rf.com/images/geargodz/geargodz1306/geargodz130600093/20323803-white-wooden-wall-texture-background-block-style.jpg);
    background-size: cover;
}
.mage img{
width: 360px;
border-radius: 20px;
align-content: space-between;
}
.abc{
    text-align: center;
    padding-right: 50px;
    font-weight: 700;
    color:black;
    opacity: 0;
    transition: transform 1s ease-in-out ;
}
.abc a{
    color:black;
    text-decoration: none;
}
.ver img{
    transition: transform 1s;
}
.ver img:hover{
   opacity: 0.3;
   transform: scale(1.2);
}
.ver:hover .abc{
     opacity:1;
    transform: translateY(-120px);
}
 i{
    font-size: 30px;
}